# Neon PostgreSQL Connection URL (direct or pooled)
DATABASE_URL="postgresql://user:password@ep-sample-pooler.region.aws.neon.tech/neondb?sslmode=require"

# JWT Auth Secret Key (minimum 32 characters)
AUTH_SECRET="your-32-character-secret-key-change-in-production"

# Store Administrator Credentials
ADMIN_EMAIL="admin@ecommerce.test"
ADMIN_PASSWORD="YourAdminPassword123"

# Store Customer Credentials
CUSTOMER_EMAIL="customer@ecommerce.test"
CUSTOMER_PASSWORD="YourCustomerPassword123"
